<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWVvQ8LlfgkZi7ni1EBn_kbsK4P6PV_j4</string>
	<key>GCM_SENDER_ID</key>
	<string>1085945409884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eurekamps.org.pixeladventure</string>
	<key>PROJECT_ID</key>
	<string>pixeladventure-813e2</string>
	<key>STORAGE_BUCKET</key>
	<string>pixeladventure-813e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085945409884:ios:225d47e0d6b74143b0d199</string>
</dict>
</plist>